@font-face {
  font-family: "Strong";
  src: url(../Fonts/Strong-Regular.ttf) format("truetype");
}
.reviews {
  font-family: "Strong", sans-serif;
  font-size: 16px;
  font-weight: 0;
  background-color: #3F3F46;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.reviews .ratings {
  color: #3ABBD1;
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 8rem;
  z-index: 100;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.reviews .ratings .total-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #26262B;
  padding: 0.4rem;
  border-radius: 6px;
  font-size: 2rem;
}
.reviews .ratings .total-rating img {
  width: 3rem;
  height: 3rem;
}
.reviews .ratings .ratings-quantity {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.4rem;
  background: #26262B;
  border-radius: 6px;
}
.reviews .ratings .ratings-quantity .rating-info {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.reviews .ratings .ratings-quantity .rating-info img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 5px;
}
.reviews .ratings .ratings-quantity .rating-info .rating-cif {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
}
.reviews .ratings .ratings-quantity .rating-info .ratingb {
  color: #26262B;
  background-color: #66A7C8;
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 6px;
  margin-left: 1rem;
}
.reviews .ratings .post-your-review {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  color: #E0E0E0;
}
.reviews .ratings .post-your-review span:first-child {
  font-size: 1.6rem;
  color: #66A7C8;
  margin-bottom: 0.1rem;
}
.reviews .ratings .post-your-review span {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.reviews .ratings .post-your-review button {
  padding: 0.4rem;
  background: #66A7C8;
  color: #26262B;
  border: none;
  border-radius: 6px;
  font-size: 1.5rem;
  transition: color 0.1s ease, background 0.1s ease;
}
.reviews .ratings .post-your-review button:hover {
  background: #26262B;
  color: #3ABBD1;
}
.reviews .review_block {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}
.reviews .review_block .rb-topinfo::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #26262B;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.reviews .review_block .rb-topinfo div {
  display: flex;
  justify-content: space-between;
}
.reviews .review_block .rb-topinfo .sorts {
  display: flex;
  position: relative;
  gap: 5rem;
  align-items: end;
  color: #66A7C8;
  font-size: 1.4rem;
}
.reviews .review_block .rb-topinfo .sorts .template__checkboxes .hidden-checkbox {
  display: none;
}
.reviews .review_block .rb-topinfo .sorts .template__checkboxes .hidden-checkbox:checked + .checkbox-label::before {
  background-color: #3ABBD1;
}
.reviews .review_block .rb-topinfo .sorts .template__checkboxes .checkbox-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 100%;
}
.reviews .review_block .rb-topinfo .sorts .template__checkboxes .checkbox-label::before {
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #26262B;
  transition: 0.1s ease;
}
.reviews .review_block .rb-topinfo .sorts .sort_byrate {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  color: #66A7C8;
}
.reviews .review_block .rb-topinfo .sorts .sort_byrate button {
  background: #26262B;
  color: #3ABBD1;
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews .review_block .rb-topinfo .sorts .sort_byrate button svg {
  width: 1.4rem;
  height: 1.4rem;
}
.reviews .review_block .rb-topinfo .sorts .sort_byrate button svg path {
  fill: #3ABBD1;
}
.reviews .review_block .rb-topinfo .sorts .sort_byrate .dropdown-list {
  display: none;
  position: absolute;
  z-index: 1;
  list-style: none;
  background-color: #26262B;
  border-radius: 5px;
  padding: 0;
  width: 100%;
  -webkit-box-shadow: 0px 14px 20px 3px rgba(38, 38, 43, 0.78);
  -moz-box-shadow: 0px 14px 20px 3px rgba(38, 38, 43, 0.78);
  box-shadow: 0px 14px 20px 3px rgba(38, 38, 43, 0.78);
}
.reviews .review_block .rb-topinfo .sorts .sort_byrate .dropdown-list li {
  display: flex;
  padding: 0.4rem 1rem;
  transition: color 0.1s ease, background-color 0.2s ease;
}
.reviews .review_block .rb-topinfo .sorts .sort_byrate .dropdown-list li:hover {
  background-color: #3F3F46;
  color: #66A7C8;
}
.reviews .review_block .rb-topinfo .sorts .sort_byrate .dropdown-list li.selected {
  background-color: #3F3F46;
  color: #3ABBD1;
}
.reviews .review_block .popular-review {
  background: #26262B;
  border-radius: 1rem;
}
.reviews .review_block .popular-review h2 {
  color: #3ABBD1;
}
.reviews .review_block .popular-review .r .placed-rating {
  background: #3F3F46;
}
.reviews .review_block .popular-review .r .middle-info .like-block .like-count {
  background-color: #3F3F46;
}
.reviews .review_block .popular-review .r .middle-info .like-block button.active {
  background: #3F3F46;
}
.reviews .review_block .r {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #E0E0E0;
}
.reviews .review_block .r .middle-info {
  display: flex;
  justify-content: space-between;
}
.reviews .review_block .r .middle-info .like-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.reviews .review_block .r .middle-info .like-block .like-count {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: #3ABBD1;
  font-size: 1.5rem;
  background-color: #26262B;
}
.reviews .review_block .r .middle-info .like-block button {
  background: none;
  border: none;
}
.reviews .review_block .r .middle-info .like-block button svg {
  width: 40px;
  height: 40px;
}
.reviews .review_block .r .middle-info .like-block button svg path {
  stroke: #3ABBD1;
  stroke-width: 1px;
  fill: transparent;
  transition: fill 0.2s ease;
}
.reviews .review_block .r .middle-info .like-block button:hover svg path {
  fill: #3ABBD1;
}
.reviews .review_block .r .middle-info .like-block button.active {
  background: #26262B;
}
.reviews .review_block .r .placed-rating {
  background: #26262B;
  display: flex;
  width: max-content;
  gap: 0.5rem;
  padding: 0.4rem;
  border-radius: 6px;
}
.reviews .review_block .r .placed-rating svg {
  overflow: visible;
  width: 40px;
  height: 40px;
}
.reviews .review_block .r .placed-rating svg path {
  stroke: #3ABBD1;
  stroke-width: 1px;
}
.reviews .review_block .r .placed-rating .active path {
  fill: #3ABBD1;
}
.reviews .review_block .r .profile_and_report {
  display: flex;
  justify-content: space-between;
}
.reviews .review_block .r .profile_and_report button {
  background: none;
  border: none;
}
.reviews .review_block .r .profile_and_report button svg {
  width: 40px;
  height: 40px;
}
.reviews .review_block .r .profile_and_report button svg path {
  stroke: #3ABBD1;
  stroke-width: 2px;
  fill: none;
  transition: stroke 0.4s ease;
}
.reviews .review_block .r .profile_and_report button:hover svg path {
  stroke: #E36B3F;
}
.reviews .review_block .r .profile_and_report .profile {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.reviews .review_block .r .profile_and_report .profile .avatar {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.reviews .review_block .r .profile_and_report .profile .profile-info {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
.reviews .review_block .r .profile_and_report .profile .profile-info .date {
  font-size: 1.2rem;
  color: #adadad;
}
.reviews .review_block .r h3 {
  font-size: 1.3rem;
  color: #66A7C8;
}
.reviews .review_block .r span {
  font-size: 1.3rem;
}
.reviews .review_block .r .usagetime span {
  color: #E0E0E0;
}
.reviews .review_block .r .minuses h3 {
  color: #E36B3F;
}

#charts {
  font-family: "Strong", sans-serif;
  font-size: 1rem;
  font-weight: 0;
  color: #E0E0E0;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
#charts #chartsContent {
  color: #E0E0E0;
  background-color: #3F3F46;
  padding: 1rem;
  border-radius: 8px;
  position: relative;
  transition: height 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 400px;
}

.additonal__info {
  background-color: #3F3F46;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 2rem;
}
.additonal__info .top__info {
  display: flex;
  gap: 3rem;
}
.additonal__info .top__info .popular__compares {
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 8rem;
  z-index: 100;
  flex: 0 0 auto;
  min-width: max-content;
}
.additonal__info .top__info .popular__compares h2 {
  font-family: "Strong", sans-serif;
  font-size: 16px;
  font-weight: 0;
  font-size: 2.6rem;
  color: #3ABBD1;
}
.additonal__info .top__info .popular__compares .mini__product {
  display: flex;
  gap: 1rem;
  background-color: #26262B;
  padding: 0.5rem;
  border-radius: 0.6rem;
  margin-bottom: 1.5rem;
  transition: background-color 0.2s ease;
}
.additonal__info .top__info .popular__compares .mini__product:hover {
  background-color: rgb(42.7851851852, 42.7851851852, 48.4148148148);
}
.additonal__info .top__info .popular__compares .mini__product img {
  width: 6rem;
  height: 6rem;
  object-fit: scale-down;
}
.additonal__info .top__info .popular__compares .mini__product .mini__info h3 {
  display: -webkit-box;
  max-width: 240px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Strong", sans-serif;
  font-size: 16px;
  font-weight: 0;
  font-size: 1.3rem;
  color: #E0E0E0;
}
.additonal__info .top__info .popular__compares .mini__product .mini__info div {
  display: flex;
  justify-content: space-between;
}
.additonal__info .top__info .popular__compares .mini__product .mini__info div p {
  font-family: "Strong", sans-serif;
  font-size: 16px;
  font-weight: 0;
  font-size: 1.7rem;
  color: #3ABBD1;
}
.additonal__info .top__info .popular__compares .mini__product .mini__info div .mini__rating {
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
}
.additonal__info .top__info .popular__compares .mini__product .mini__info div .mini__rating img {
  width: 2rem;
  height: 100%;
}
.additonal__info .top__info .popular__compares .mini__product .mini__info div .mini__rating span {
  font-family: "Strong", sans-serif;
  font-size: 16px;
  font-weight: 0;
  font-size: 1.7rem;
  color: #3ABBD1;
}
.additonal__info .top__info .description {
  display: flex;
  justify-content: right;
  flex-direction: column;
  font-family: "Strong", sans-serif;
  font-size: 16px;
  font-weight: 0;
  font-size: 1.4rem;
  color: #E0E0E0;
}
.additonal__info .top__info .description .dsc::after {
  margin-top: 1rem;
  margin-bottom: 1rem;
  content: "";
  display: block;
  width: 100%;
  height: 0.3rem;
  background-color: #26262B;
  border-radius: 5px;
  margin-top: 10px;
}
.additonal__info .top__info .description #specials {
  position: relative;
  max-height: 800px;
  padding-bottom: 70px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.additonal__info .top__info .description #specials .specs-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  box-sizing: border-box;
}
.additonal__info .top__info .description #specials .specs-footer button {
  z-index: 10;
  padding: 0.7rem;
  width: 100%;
  font-size: 1.6rem;
  color: #E0E0E0;
  cursor: pointer;
  background-color: #26262B;
  border: none;
  border-radius: 5px;
  transition: color 0.2s ease;
  -webkit-box-shadow: 0px 0px 59px 62px rgb(63, 63, 70);
  -moz-box-shadow: 0px 0px 59px 62px rgb(63, 63, 70);
  box-shadow: 0px 0px 59px 62px rgb(63, 63, 70);
}
.additonal__info .top__info .description #specials .specs-footer button:hover {
  color: #66A7C8;
}
.additonal__info .top__info .description #specials .specs-footer button.active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.additonal__info .top__info .description #specials h1 {
  font-size: 3rem;
  color: #3ABBD1;
  margin-bottom: 1rem;
}
.additonal__info .top__info .description #specials .specs__block h2 {
  font-size: 2rem;
  color: #3ABBD1;
  margin-bottom: 1rem;
}
.additonal__info .top__info .description #specials .specs__block .block__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.additonal__info .top__info .description #specials .specs__block .block__grid .list__specs {
  display: flex;
  flex-direction: column;
}
.additonal__info .top__info .description #specials .specs__block .block__grid .list__specs dt {
  font-size: 1.6rem;
  font-weight: normal;
}
.additonal__info .top__info .description #specials .specs__block .block__grid .list__specs dd {
  font-size: 1.5rem;
  color: #66A7C8;
}
.additonal__info .top__info .description #specials .specs__block::after {
  margin-top: 1rem;
  margin-bottom: 1rem;
  content: "";
  display: block;
  width: 100%;
  height: 0.3rem;
  background-color: #26262B;
  border-radius: 5px;
  margin-top: 10px;
}

.main {
  background-color: #3F3F46;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}
.main .images {
  display: flex;
  height: 30rem;
  display: flex;
  gap: 1rem;
}
.main .images .images__slider {
  display: flex;
  flex-direction: column;
}
.main .images .images__slider img {
  height: 90px;
  width: 90px;
  object-fit: scale-down;
}
.main .images .main_image {
  width: 30rem;
}
.main .images .main_image img {
  height: 100%;
  width: 30rem;
  object-fit: scale-down;
}
.main .mi {
  flex: 1;
}
.main .main__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: start;
}
.main .main__info .titles h1 {
  font-family: "Strong", sans-serif;
  font-size: 2.3rem;
  font-weight: 0;
  color: #3ABBD1;
}
.main .main__info .titles p {
  margin-top: 10px;
  font-family: "Strong", sans-serif;
  font-size: 1.4rem;
  font-weight: 0;
  color: rgb(147.5, 147.5, 147.5);
}
.main .manufracturer {
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.main .manufracturer img {
  margin-top: 10px;
  width: 120px;
  height: 40px;
  object-fit: scale-down;
}
.main .manufracturer .rating {
  font-family: "Strong", sans-serif;
  font-size: 2rem;
  font-weight: 0;
  color: #3ABBD1;
  margin-top: 20px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 2px;
  background-color: #26262B;
}
.main .manufracturer .rating img {
  margin-top: 0px;
  width: 40px;
}
.main .product__activity {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.main .product__activity .product__price {
  background-color: #26262B;
  font-family: "Strong", sans-serif;
  font-size: 2.4rem;
  font-weight: 0;
  color: #3ABBD1;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  height: 5rem;
  flex: 1;
}
.main .product__activity .product__price button {
  background-color: transparent;
  outline: none;
  border: none;
}
.main .product__activity .product__price button svg path {
  stroke: #26262B;
  stroke-width: 1px;
}
.main .product__activity .product__buttons {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.main .product__activity .product__buttons button {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: none;
  border: none;
  transition: 0.1s ease;
  border-radius: 6px;
}
.main .product__activity .product__buttons button span {
  font-family: "Strong", sans-serif;
  font-size: 2rem;
  font-weight: 0;
  color: #66A7C8;
  transition: 0.1s ease;
}
.main .product__activity .product__buttons button svg {
  overflow: visible;
  width: 2.4rem;
  height: 2.4rem;
}
.main .product__activity .product__buttons button svg path {
  fill: transparent;
  stroke: #66A7C8;
  stroke-width: 4px;
  transition: 0.1s ease;
}
.main .product__activity .product__buttons button svg g path {
  stroke-width: 2px !important;
}
.main .product__activity .product__buttons button:hover {
  background-color: #26262B;
}
.main .product__activity .product__buttons button:hover span {
  color: #3ABBD1;
}
.main .product__activity .product__buttons button:hover svg path {
  stroke: #3ABBD1;
}
.main .product__activity .product__buttons #cartBtn {
  width: 230px;
}
.main .product__activity .product__buttons #favBtn.active, .main .product__activity .product__buttons #cartBtn.active {
  background-color: #26262B;
}
.main .product__activity .product__buttons #favBtn.active span, .main .product__activity .product__buttons #cartBtn.active span {
  color: #3ABBD1;
}
.main .product__activity .product__buttons #favBtn.active svg path, .main .product__activity .product__buttons #cartBtn.active svg path {
  fill: #3ABBD1;
  stroke: #3ABBD1;
}
.main .product__activity .product__buttons #compBtn.active {
  background-color: #26262B;
}
.main .product__activity .product__buttons #compBtn.active span {
  color: #3ABBD1;
}
.main .product__activity .product__buttons #compBtn.active svg path {
  stroke: #3ABBD1;
}
.main .additional_info {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.main .additional_info div {
  flex: 1;
  height: 5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #26262B;
}
.main .additional_info div span {
  font-family: "Strong", sans-serif;
  font-size: 1.6rem;
  font-weight: 0;
  color: #E0E0E0;
}
.main .additional_info div span svg {
  width: 50px;
  margin-right: 12px;
}
.main .additional_info div span span {
  color: #66A7C8;
}
.main .variations {
  border-radius: 10px;
  padding: 1rem;
  height: 5rem;
  margin-top: 1rem;
  background-color: #26262B;
}
.main .variations span {
  color: #66A7C8;
  font-family: "Strong", sans-serif;
  font-size: 2rem;
  font-weight: 0;
  opacity: 0;
  transition: opacity 0.1s ease;
}
.main .variations:hover > span {
  opacity: 1;
}

/*# sourceMappingURL=details_product.css.map */
