@charset "UTF-8";
@font-face {
  font-family: "Strong";
  src: url(../Fonts/Strong-Regular.ttf) format("truetype");
}
.modal {
  font-family: "Strong", sans-serif;
  font-size: 1rem;
  font-weight: 0;
  color: #E0E0E0;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.modal.active {
  opacity: 1;
}
.modal .modal-content {
  background-color: #3F3F46;
  padding: 1rem;
  border-radius: 8px;
  width: 500px;
  position: relative;
  transition: height 0.3s ease;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}
.modal .modal-content h2 {
  font-size: 2.5rem;
}
.modal .modal-content #auth-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.modal .modal-content #auth-form button {
  border: none;
  padding: 0.3rem;
  font-size: 2rem;
  background-color: #66A7C8;
  color: #26262B;
  border-radius: 6px;
}
.modal .modal-content #auth-form div {
  display: flex;
  flex-direction: column;
}
.modal .modal-content #auth-form div input {
  margin-bottom: 1rem;
  color: #E0E0E0;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background-color: #26262B;
  outline: none;
  border: 2px solid #66A7C8;
  border-radius: 6px;
  font-size: 1.5rem;
}
.modal .modal-content #auth-form #register-section, .modal .modal-content #auth-form #code-section {
  overflow: hidden;
  opacity: 0;
  max-height: 0px;
  transition: opacity 0.2s ease-out, max-height 1s ease-out;
}
.modal .modal-content #auth-form #register-section input, .modal .modal-content #auth-form #code-section input {
  transform: translateY(-20px);
  transition: transform 0.2s ease-out;
}
.modal .modal-content #auth-form #code-section {
  display: flex;
}
.modal .modal-content #auth-form #code-section input {
  margin-bottom: 0rem;
}
.modal .modal-content #auth-form #code-section div {
  margin-bottom: 1rem;
  display: flex;
  align-content: flex-start;
  justify-content: left;
}
.modal .modal-content #auth-form #code-section div button {
  display: flex;
  background: none;
  padding: 0;
  font-size: 1.2rem;
  color: #66A7C8;
}
.modal .modal-content #auth-form #register-section.active, .modal .modal-content #auth-form #code-section.active {
  max-height: 500px;
  opacity: 1;
}
.modal .modal-content #auth-form #register-section.active input, .modal .modal-content #auth-form #code-section.active input {
  transform: translateY(0);
}
.modal .modal-content #auth-form .support-buttons {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modal .modal-content #auth-form .support-buttons button {
  background: none;
  padding: 0;
  font-size: 1.5rem;
  color: #66A7C8;
  transition: opacity 1s ease-out;
}
.modal .modal-content #auth-form .support-buttons button:disabled {
  opacity: 0.5;
}

#profile-modal {
  opacity: 0;
  visibility: hidden;
  display: none;
  overflow: visible;
  position: absolute;
  right: 0%;
  background-color: white;
  z-index: 1000;
  padding: 1rem;
  background-color: #3F3F46;
  -webkit-box-shadow: 0px 0px 16px 22px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 16px 22px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 16px 22px rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
}
#profile-modal .p-modal_content div {
  margin-top: 0.3rem;
  display: flex;
}
#profile-modal .p-modal_content div a {
  color: #E0E0E0;
}
#profile-modal .p-modal_content div:hover a {
  color: #66A7C8;
}
#profile-modal .p-modal_content .p-modal_logout {
  margin-top: 1rem;
}
#profile-modal .p-modal_content .p-modal_logout button {
  padding: 0.2rem;
  border-radius: 0.2rem;
  color: #26262B;
  background-color: #66A7C8;
  width: 100%;
}

header {
  top: 0;
  margin: 0;
  width: 81%;
  position: fixed;
  z-index: 1000;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0px 14px 20px 3px rgba(38, 38, 43, 0.78);
  -moz-box-shadow: 0px 14px 20px 3px rgba(38, 38, 43, 0.78);
  box-shadow: 0px 14px 20px 3px rgba(38, 38, 43, 0.78);
  background-color: #3F3F46;
  padding: 1rem;
}
header nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
header nav .left {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  flex: 1;
}
header nav .left .catalog__button {
  font-family: "Strong", sans-serif;
  font-size: 1.5rem;
  font-weight: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #66A7C8;
  padding: 0.7rem;
  color: #26262B;
  border-radius: 0.4rem;
}
header nav .left .catalog__button svg {
  width: 1.2rem;
  height: 1.2rem;
}
header nav .left .catalog__button svg path {
  fill: #26262B;
}
header nav .left .search-container {
  flex: 1;
  position: relative;
}
header nav .left .search-container .search-form {
  position: relative;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid #66A7C8;
  height: 3.6rem;
  border-radius: 8px;
  overflow: hidden;
  transition: border 0.2s ease;
}
header nav .left .search-container .search-form.active {
  border: 2px solid #3ABBD1;
}
header nav .left .search-container .search-form input {
  flex: 1;
  font-family: "Strong", sans-serif;
  font-size: 1.5rem;
  font-weight: 0;
  outline: none;
  border: none;
  padding: 0.6rem;
  padding-left: 1rem;
  background: transparent;
  color: #E0E0E0;
  transition: background 0.1s ease;
}
header nav .left .search-container .search-form input:focus {
  background: #26262B;
}
header nav .left .search-container .search-form input:focus + button {
  background: #26262B;
}
header nav .left .search-container .search-form button {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background 0.1s ease;
}
header nav .left .search-container .search-results-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 30px;
  background: rgb(75.0789473684, 75.0789473684, 83.4210526316);
  border-radius: 6px;
  width: 100%;
  -webkit-box-shadow: 0px 14px 18px 8px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 14px 18px 8px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 14px 18px 8px rgba(0, 0, 0, 0.33);
}
header nav .left .search-container .search-results-list .search-result-item {
  gap: 1rem;
  padding: 4px;
  transition: background 0.1s ease;
  height: 110px;
}
header nav .left .search-container .search-results-list .search-result-item:not(:last-child):after {
  content: "";
  display: block;
  height: 2px;
  background-color: #26262B;
  border-radius: 5px;
  margin-top: 10px;
}
header nav .left .search-container .search-results-list .search-result-item:first-child {
  border-radius: 6px 6px 0px 0px;
}
header nav .left .search-container .search-results-list .search-result-item:last-child {
  border-radius: 0px 0px 6px 6px;
}
header nav .left .search-container .search-results-list .search-result-item:hover {
  background: #3F3F46;
}
header nav .left .search-container .search-results-list .sr {
  display: flex;
  gap: 10px;
}
header nav .left .search-container .search-results-list .sr .sr-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .left .search-container .search-results-list .sr .sr-image img {
  width: 6rem;
  height: 6rem;
  object-fit: scale-down;
}
header nav .left .search-container .search-results-list .sr .sr-info {
  font-family: "Strong", sans-serif;
  font-size: 16px;
  font-weight: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header nav .left .search-container .search-results-list .sr .sr-info h2 {
  font-size: 1.4rem;
  color: #E0E0E0;
}
header nav .left .search-container .search-results-list .sr .sr-info h3 {
  font-size: 1.6rem;
  color: #3ABBD1;
}
header nav .left .search-container .no-results {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 30px;
  background: rgb(75.0789473684, 75.0789473684, 83.4210526316);
  border-radius: 6px;
  width: 100%;
  -webkit-box-shadow: 0px 14px 18px 8px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 14px 18px 8px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 14px 18px 8px rgba(0, 0, 0, 0.33);
  font-family: "Strong", sans-serif;
  font-size: 16px;
  font-weight: 0;
  padding: 10px;
  color: #E36B3F;
  font-size: 1.4rem;
}
header nav .buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
header nav .buttons .profile-mini_avatar {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .buttons .profile-mini_avatar img {
  display: block;
  width: 100%;
  object-fit: cover;
}
header nav .buttons a, header nav .buttons button {
  font-family: "Strong", sans-serif;
  font-size: 1.4rem;
  font-weight: 0;
  color: #E0E0E0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  transition: 0.1s ease;
  background: none;
  outline: none;
  border: none;
}
header nav .buttons a .icon-wrapper, header nav .buttons button .icon-wrapper {
  position: relative;
}
header nav .buttons a .icon-wrapper .badge, header nav .buttons button .icon-wrapper .badge {
  border-radius: 50%;
  background-color: #66A7C8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #26262B;
  font-size: 1rem;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -5px;
  right: -10px;
  transition: 0.1s ease;
}
header nav .buttons a svg, header nav .buttons button svg {
  height: 36px;
  width: 36px;
  overflow: visible;
  position: relative;
}
header nav .buttons a svg #favorite, header nav .buttons a svg #basket, header nav .buttons a svg #profile path, header nav .buttons button svg #favorite, header nav .buttons button svg #basket, header nav .buttons button svg #profile path {
  fill: transparent;
  stroke: #3ABBD1;
  stroke-width: 4px;
  transition: 0.1s ease;
}
header nav .buttons a svg #chart-histogram path, header nav .buttons button svg #chart-histogram path {
  stroke-width: 2px;
  fill: none;
  transition: 0.1s ease;
}
header nav .buttons a:hover, header nav .buttons button:hover {
  color: #66A7C8;
  filter: drop-shadow(0px 0px 15px rgba(63, 104, 135, 0.6));
}
header nav .buttons a:hover .badge, header nav .buttons button:hover .badge {
  background-color: #3ABBD1;
}
header nav .buttons a:hover svg #favorite, header nav .buttons a:hover svg #basket, header nav .buttons a:hover svg #profile path, header nav .buttons button:hover svg #favorite, header nav .buttons button:hover svg #basket, header nav .buttons button:hover svg #profile path {
  fill: #3ABBD1;
}
header nav .buttons a:hover svg #chart-histogram path, header nav .buttons button:hover svg #chart-histogram path {
  stroke-width: 2px;
  fill: none;
  transition: 0.1s ease;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #3F3F46;
  margin-top: 10%;
  width: 100%;
}

.footer__inside {
  width: 81%;
}
.footer__inside .footer_site__logo {
  margin-top: 24px;
  margin-bottom: 65px;
}
.footer__inside .sections {
  display: flex;
  justify-content: space-between;
}
.footer__inside .sections section h1 {
  font-family: "Strong", sans-serif;
  font-size: 48px;
  font-weight: 0;
  width: 100%;
  color: #3ABBD1;
  position: relative;
}
.footer__inside .sections section h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #26262B;
  border-radius: 5px;
  margin-top: 10px;
}
.footer__inside .sections section a {
  color: #66A7C8;
  transition: 0.2s ease;
}
.footer__inside .sections section a:hover {
  color: #3ABBD1;
  text-decoration: underline;
}
.footer__inside .sections section ul {
  font-family: "Strong", sans-serif;
  font-size: 36px;
  font-weight: 0;
  color: #66A7C8;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__inside .sections section ul li:not(:last-child) {
  margin-bottom: 6px;
}
.footer__inside .sections:nth-child(2) {
  font-family: "Strong", sans-serif;
  font-size: 36px;
  font-weight: 0;
  color: #66A7C8;
}
.footer__inside .sections:nth-child(2) .footer__section__feedbackphone h3 {
  font-family: "Strong", sans-serif;
  font-size: 36px;
  font-weight: 0;
  position: relative;
}
.footer__inside .sections:nth-child(2) .footer__section__feedbackphone h3::after {
  content: "с 05:00 до 00:00 (МСК)";
  display: block;
  font-size: 22px;
}
.footer__inside .sections:nth-child(2) .footer__section__socials {
  display: flex;
  gap: 26px;
  margin-top: 30px;
}
.footer__inside .sections:nth-child(2) .footer__section__socials a div {
  background-color: #66A7C8;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition: 0.2s ease;
}
.footer__inside .sections:nth-child(2) .footer__section__socials a div:hover {
  background-color: #3ABBD1;
}
.footer__inside .app {
  display: block;
}
.footer__inside .app div {
  font-family: "Strong", sans-serif;
  font-size: 36px;
  font-weight: 0;
  display: flex;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #66A7C8;
  color: #26262B;
  width: 210px;
  height: 72px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer__inside .app div img {
  height: 44px;
}
.footer__inside .app::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #26262B;
  border-radius: 5px;
  margin-top: 10px;
}
.footer__inside .copyright {
  font-family: "Strong", sans-serif;
  font-size: 19px;
  font-weight: 0;
  color: #66A7C8;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*# sourceMappingURL=layout.css.map */
