@using NoSTORE.Models.ViewModels
@model IEnumerable<CartViewModel>

@{
    ViewData["Title"] = "Корзина";
    ViewData["CSS"] = "cart.css";
}

<section class="cart">
    <h1>Корзина (<span id="total-quantity-incart">@Model.Count()</span>)</h1>
    <div class="cart-container">
        @Html.Partial("_CartPartial", Model);
    </div>
</section>
<script type="module" src="~/js-new/pages/cartIndex.js"></script>