@use 'variables';

.cart {
    h1 {
        @include variables.font();
        color: variables.$accent-color;
        font-size: 4vh;
        margin-bottom: 2rem;
    }

    .cart-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .products {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            gap: 1rem;
            transition: height 0.4s ease;
            flex: 1;

            .no_items {
                padding: 1rem;
                display: flex;
                background-color: variables.$block-color;
                border-radius: 10px;
                gap: 2rem;
                width: 55rem;
                overflow: hidden;
                position: relative;

                .main-image {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 4vh;
                    }
                }

                .info {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    min-width: 0;

                    .left-info {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;

                        .title {
                            @include variables.font();
                            color: variables.$accent-color;
                            font-size: 1.8rem;
                            margin-bottom: 1rem;
                        }
                    }

                    .assortment {
                        @include variables.font();
                        font-size: 1.5rem;
                        color: variables.$additional-color;

                        transition: color 0.1s ease;
                    }
                }

                &:hover {
                    .assortment {
                        color: lighten(variables.$additional-color, 10%);
                    }
                }
            }

            .product {
                padding: 1rem;
                display: flex;
                background-color: variables.$block-color;
                border-radius: 10px;
                gap: 2rem;
                width: 55rem;
                overflow: hidden;
                max-height: 400px;
                position: relative;

                .main-image {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 10rem;
                        height: 10rem;
                        object-fit: scale-down;
                    }
                }



                .info {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    min-width: 0;

                    .left-info {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        width: 80%;

                        .title {
                            @include variables.font();
                            color: variables.$accent-color;
                            font-size: 1.6rem;
                            margin-bottom: 1rem;
                        }

                        .quantity-controller {
                            background-color: variables.$bg-color;
                            display: flex;
                            gap: 0.8rem;
                            justify-content: space-between;
                            width: 11rem;
                            align-items: center;
                            border-radius: 6px;
                            padding: 0.2rem 0.4rem;
                            margin-bottom: 1rem;

                            button {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background: none;
                                border: none;
                                color: variables.$text-color;
                                font-size: 1.3rem;
                                padding: 0rem 0.5rem;
                                width: 30px;
                                height: 30px;
                                line-height: 1;
                                display: flex;
                                justify-content: center;
                                align-content: center;
                                transition: background 0.1s ease;
                                border-radius: 5px;

                                &:hover {
                                    background: variables.$block-color;
                                }
                            }

                            .quantity-p {
                                @include variables.font();
                                color: variables.$text-color;
                                font-size: 1.4rem;
                                text-align: center;
                            }
                        }

                        .devliery {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            svg {
                                width: 2.5rem;
                                height: 2.5rem;

                                path {
                                    fill: variables.$accent-color;
                                }
                            }

                            div {
                                @include variables.font();
                                color: variables.$text-color;
                                font-size: 1.3rem;

                                .delivery-time {
                                    color: variables.$additional-color;
                                }
                            }
                        }
                    }

                    .right-info {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: space-between;
                        text-align: right;

                        .hidden-checkbox {
                            display: none;
                        }

                        .hidden-checkbox:checked + .checkbox-label::before {
                            background-color: variables.$accent-color;
                        }

                        .checkbox-label {
                            cursor: pointer;
                            user-select: none;

                            &::before {
                                content: '';
                                display: inline-block;
                                width: 25px;
                                height: 25px;
                                border-radius: 4px;
                                background-color: variables.$bg-color;
                                transition: 0.1s ease;
                            }
                        }

                        .buttons {
                            display: flex;
                            gap: 5px;

                            .favorite {
                                background: none;
                                border: none;
                                padding: 5px;
                                transition: background 0.1s ease-out;

                                svg {
                                    overflow: visible;
                                    width: 1.7rem;
                                    height: 1.7rem;

                                    path {
                                        stroke: variables.$additional-color;
                                        stroke-width: 4px;
                                        fill: transparent;
                                        transition: fill 0.1s ease-out, stroke 0.1s ease-out;
                                    }
                                }

                                &:hover {
                                    svg {
                                        path {
                                            fill: variables.$additional-color;
                                        }
                                    }
                                }

                                &.active {
                                    background: variables.$bg-color;
                                    border-radius: 5px;

                                    svg {
                                        path {
                                            fill: variables.$accent-color;
                                            stroke: variables.$accent-color;
                                        }
                                    }
                                }
                            }

                            .remove {
                                background: none;
                                border: none;
                                padding: 5px;

                                svg {
                                    overflow: visible;
                                    width: 2rem;
                                    height: 2rem;

                                    path {
                                        fill: variables.$additional-color;
                                        transition: fill 0.1s ease-out;
                                    }
                                }

                                &:hover {
                                    svg {
                                        path {
                                            fill: variables.$bad-color;
                                        }
                                    }
                                }
                            }
                        }

                        .price {
                            @include variables.font();
                            display: flex;
                            flex-direction: column;

                            .total-price-product {
                                font-size: 1.6rem;
                                color: variables.$accent-color;
                            }

                            .price-for-one {
                                font-size: 1.3rem;
                                color: darken(variables.$text-color, 30%);
                            }
                        }
                    }
                }
            }
        }
    }

    .basket-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        border-radius: 10px;
        background-color: variables.$block-color;
        padding: 1rem 1.3rem;
        position: sticky;
        width: 50vh;
        top: 8rem;
        z-index: 100;
        overflow: hidden;
        @include variables.font();

        .info {
            display: flex;
            width: 100%;
            min-width: 0;
            justify-content: space-between;

            .cart-price {
                display: flex;
                flex-direction: column;

                .total-title {
                    color: darken(variables.$text-color, 20%);
                    font-size: 1.3rem;
                    line-height: 0.8rem;
                }

                #total-price {
                    color: variables.$accent-color;
                    font-size: 1.6rem;
                }
            }

            button {
                align-self: end;
                display: flex;
                background: none;
                align-items: center;
                gap: 0.5rem;
                border: none;
                font-size: 1.6rem;
                color: variables.$text-color;

                svg {
                    width: 1.5rem;
                    height: 1.5rem;

                    path {
                        fill: variables.$accent-color;
                    }
                }
            }
        }

        .all-selected-products-cart {
            background: variables.$bg-color;
            width: 100%;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            gap: 0.6rem;
            padding: 0.5rem;
            overflow: hidden;

            .selected-product-cart {
                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        color: variables.$text-color;
                        font-size: 1.2rem;
                    }

                    .spc-name {
                        width: 15rem;
                    }

                    .spc-price {
                        width: 6.5rem;
                        text-align: right;
                    }
                }

                &:not(:first-child)::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: variables.$block-color;
                    border-radius: 5px;
                    margin-bottom: 10px;
                }
            }
        }

        .delivery-cart {
            background-color: variables.$bg-color;
            border-radius: 6px;
            padding: 0.1rem 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.8rem;
            width: 100%;
            color: variables.$accent-color;
            font-size: 1.4rem;

            svg {
                width: 2.6rem;
                height: 2.6rem;

                path {
                    fill: variables.$accent-color;
                }
            }
        }

        #place-order {
            margin-top: 1rem;
            background: variables.$additional-color;
            color: variables.$bg-color;
            width: 100%;
            padding: 0.5rem;
            font-size: 1.6rem;
            border-radius: 6px;
            border: none;
            transition: background 0.1s ease, color 0.1s ease;

            &:hover {
                background: variables.$bg-color;
                color: variables.$accent-color;
            }
        }
    }
}
