@use 'variables';

.modal {
    @include variables.font($size: 1rem);
    color: variables.$text-color;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease-out;

    &.active {
        opacity: 1;
    }

    .modal-content {
        background-color: variables.$block-color;
        padding: 1rem;
        border-radius: 8px;
        width: 500px;
        position: relative;
        transition: height 0.3s ease;
        display: flex;
        flex-direction: column;
        transition: 0.5s ease;

        h2 {
            font-size: 2.5rem;
        }

        #description {
            font-size: 1.3rem;
        }

        form {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;

            button {
                border: none;
                padding: 0.3rem;
                font-size: 2rem;
                background-color: variables.$additional-color;
                color: variables.$bg-color;
                border-radius: 6px;
            }

            input {
                margin-bottom: 1rem;
                color: variables.$text-color;
                padding-left: 0.5rem;
                padding-top: 0.2rem;
                padding-bottom: 0.2rem;
                background-color: variables.$bg-color;
                outline: none;
                border: 2px solid variables.$additional-color;
                border-radius: 6px;
                font-size: 1.5rem;
            }

            div {
                display: flex;
                flex-direction: column;
            }

            #register-section, #code-section {
                overflow: hidden;
                opacity: 0;
                max-height: 0px;

                input {
                    transform: translateY(-20px);
                    transition: transform 0.2s ease-out;
                }

                transition: opacity 0.2s ease-out, max-height 1s ease-out;
            }

            #code-section {
                display: flex;

                input {
                    margin-bottom: 0rem;
                }

                div {
                    margin-bottom: 1rem;
                    display: flex;
                    align-content: flex-start;
                    justify-content: left;

                    button {
                        display: flex;
                        background: none;
                        padding: 0;
                        font-size: 1.2rem;
                        color: variables.$additional-color;
                    }
                }
            }

            #register-section.active, #code-section.active {
                max-height: 500px;

                input {
                    transform: translateY(0);
                }

                opacity: 1;
            }

            .support-buttons {
                margin-bottom: 0.5rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                button {
                    background: none;
                    padding: 0;
                    font-size: 1.5rem;
                    color: variables.$additional-color;
                    transition: opacity 1s ease-out;

                    &:disabled {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

#profile-modal {
    opacity: 0;
    visibility: hidden;
    display: none;
    overflow: visible;
    position: absolute;
    background-color: white;
    z-index: 1000;
    padding: 1rem;
    background-color: variables.$block-color;
    -webkit-box-shadow: 0px 0px 16px 22px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px 22px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px 22px rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;

    .p-modal_content {
        div {
            margin-top: 0.3rem;
            display: flex;

            a {
                color: variables.$text-color;
            }

            &:hover {
                a {
                    color: variables.$additional-color;
                }
            }
        }

        .p-modal_logout {
            margin-top: 1rem;

            button {
                padding: 0.2rem;
                border-radius: 0.2rem;
                color: variables.$bg-color;
                background-color: variables.$additional-color;
                width: 100%;
            }
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    nav {
        border-radius: 0 0 10px 10px;
        padding: 1rem;
        background-color: variables.$block-color;
        max-width: 81%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        -webkit-box-shadow: 0px 14px 20px 3px rgba(38, 38, 43, 0.78);
        -moz-box-shadow: 0px 14px 20px 3px rgba(38, 38, 43, 0.78);
        box-shadow: 0px 14px 20px 3px rgba(38, 38, 43, 0.78);

        .left {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 2rem;
            flex: 1;

            .site_logo {
            }

            .catalog__button {
                @include variables.font($size: 1.5rem);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                background-color: variables.$additional-color;
                padding: 0.7rem;
                color: variables.$bg-color;
                border-radius: 0.4rem;

                svg {
                    width: 1.2rem;
                    height: 1.2rem;

                    path {
                        fill: variables.$bg-color;
                    }
                }
            }

            .search-container {
                flex: 1;
                position: relative;

                .search-form {
                    position: relative;
                    display: flex;
                    align-items: center;
                    background-color: transparent;
                    border: 2px solid variables.$additional-color;
                    height: 3.6rem;
                    border-radius: 8px;
                    overflow: hidden;
                    transition: border 0.2s ease;

                    &.active {
                        border: 2px solid variables.$accent-color;
                    }

                    input {
                        flex: 1;
                        @include variables.font($size: 1.5rem);
                        outline: none;
                        border: none;
                        padding: 0.6rem;
                        padding-left: 1rem;
                        background: transparent;
                        color: variables.$text-color;
                        transition: background 0.1s ease;

                        &:focus {
                            background: variables.$bg-color;
                        }

                        &:focus + button {
                            background: variables.$bg-color;
                        }
                    }



                    button {
                        padding: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        transition: background 0.1s ease;
                    }
                }

                .search-results-list {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    margin-top: 30px;
                    background: lighten(variables.$block-color, 5%);
                    border-radius: 6px;
                    width: 100%;
                    -webkit-box-shadow: 0px 14px 18px 8px rgba(0, 0, 0, 0.33);
                    -moz-box-shadow: 0px 14px 18px 8px rgba(0, 0, 0, 0.33);
                    box-shadow: 0px 14px 18px 8px rgba(0, 0, 0, 0.33);

                    .search-result-item {
                        gap: 1rem;
                        padding: 4px;
                        transition: background 0.1s ease;
                        height: 110px;

                        &:not(:last-child):after {
                            content: '';
                            display: block;
                            height: 2px;
                            background-color: variables.$bg-color;
                            border-radius: 5px;
                            margin-top: 10px;
                        }

                        &:first-child {
                            border-radius: 6px 6px 0px 0px
                        }

                        &:last-child {
                            border-radius: 0px 0px 6px 6px
                        }

                        &:hover {
                            background: variables.$block-color
                        }
                    }

                    .sr {
                        display: flex;
                        gap: 10px;

                        .sr-image {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                width: 6rem;
                                height: 6rem;
                                object-fit: scale-down;
                            }
                        }

                        .sr-info {
                            @include variables.font();
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            h2 {
                                font-size: 1.4rem;
                                color: variables.$text-color;
                            }

                            h3 {
                                font-size: 1.6rem;
                                color: variables.$accent-color;
                            }
                        }
                    }
                }

                .no-results {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    margin-top: 30px;
                    background: lighten(variables.$block-color, 5%);
                    border-radius: 6px;
                    width: 100%;
                    -webkit-box-shadow: 0px 14px 18px 8px rgba(0, 0, 0, 0.33);
                    -moz-box-shadow: 0px 14px 18px 8px rgba(0, 0, 0, 0.33);
                    box-shadow: 0px 14px 18px 8px rgba(0, 0, 0, 0.33);
                    @include variables.font();
                    padding: 10px;
                    color: variables.$bad-color;
                    font-size: 1.4rem;
                }
            }
        }


        .buttons {
            display: flex;
            justify-content: center;
            gap: 2rem;

            .profile-mini_avatar {
                width: 36px;
                height: 36px;
                border-radius: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .skeleton-loader {
                width: 36px;
                height: 36px;
                border-radius: 100%;
                background-color: #e0e0e0;
                display: inline-block;
                position: relative;
                overflow: hidden;

                &::after {
                    content: "";
                    position: absolute;
                    left: -50%;
                    top: 0;
                    height: 100%;
                    width: 200%;
                    background: linear-gradient(to right, transparent 25%, #f0f0f0 50%, transparent 75%);
                    animation: pulse 1.5s infinite;
                }
            }

            @keyframes pulse {
                0% {
                    opacity: 0.8;
                }

                50% {
                    opacity: 0.4;
                }

                100% {
                    opacity: 0.8;
                }
            }

            #profile-user-container {
                flex-direction: column;
                justify-content: center;
                margin: 0 auto;
                gap: 0.4rem;
                align-items: center;

                span {
                    margin: 0;
                }
            }

            a, button {
                @include variables.font($size: 1.4rem);
                color: variables.$text-color;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 0.4rem;
                transition: 0.1s ease;
                background: none;
                outline: none;
                border: none;


                .icon-wrapper {
                    position: relative;

                    .badge {
                        border-radius: 50%;
                        background-color: variables.$additional-color;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: variables.$bg-color;
                        font-size: 1rem;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        top: -5px;
                        right: -10px;
                        transition: 0.1s ease;
                    }
                }

                svg {
                    height: 36px;
                    width: 36px;
                    overflow: visible;
                    position: relative;

                    #favorite, #basket, #profile path {
                        fill: transparent;
                        stroke: variables.$accent-color;
                        stroke-width: 4px;
                        transition: 0.1s ease;
                    }

                    #chart-histogram {
                        path {
                            stroke-width: 2px;
                            fill: none;
                            transition: 0.1s ease;
                        }
                    }
                }

                &:hover {
                    color: variables.$additional-color;
                    filter: drop-shadow(0px 0px 15px rgba(63, 104, 135, 0.6));

                    .badge {
                        background-color: variables.$accent-color;
                    }

                    svg {
                        #favorite, #basket, #profile path {
                            fill: variables.$accent-color;
                        }

                        #chart-histogram {
                            path {
                                stroke-width: 2px;
                                fill: none;
                                transition: 0.1s ease;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    background-color: variables.$block-color;
    margin-top: 10rem;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
}

.footer__inside {
    .footer_site__logo {
        margin-top: 24px;
        margin-bottom: 65px;
    }

    .sections {
        display: flex;
        justify-content: space-between;

        section {
            h1 {
                @include variables.font($size: 2rem);
                width: 100%;
                color: variables.$accent-color;
                position: relative;

                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 3px;
                    background-color: variables.$bg-color;
                    border-radius: 5px;
                    margin-top: 10px;
                }
            }

            a {
                color: variables.$additional-color;
                transition: 0.2s ease;

                &:hover {
                    color: variables.$accent-color;
                    text-decoration: underline;
                }
            }


            ul {
                @include variables.font($size: 1.7rem);
                color: variables.$additional-color;
                list-style: none;
                margin: 0;
                padding: 0;

                li:not(:last-child) {
                    margin-bottom: 6px;
                }
            }
        }

        &:nth-child(2) {
            @include variables.font($size: 1.7rem);
            color: variables.$additional-color;

            .footer__section__feedbackphone {
                h3 {
                    @include variables.font($size: 1.7rem);
                    position: relative;

                    &::after {
                        content: "с 05:00 до 00:00 (МСК)";
                        display: block;
                        font-size: 1.2rem;
                    }
                }
            }

            .footer__section__socials {
                display: flex;
                gap: 26px;
                margin-top: 30px;

                a {
                    div {
                        background-color: variables.$additional-color;
                        padding: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        transition: 0.2s ease;

                        &:hover {
                            background-color: variables.$accent-color;
                        }
                    }
                }
            }
        }
    }

    .app {
        display: block;

        div {
            @include variables.font($size: 2rem);
            display: flex;
            border-radius: 8px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 10px;
            background-color: variables.$additional-color;
            color: variables.$bg-color;
            width: 210px;
            height: 72px;
            margin-top: 20px;
            margin-bottom: 20px;

            img {
                height: 44px;
            }
        }

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: variables.$bg-color;
            border-radius: 5px;
            margin-top: 10px;
        }
    }

    .copyright {
        @include variables.font($size: 19px );
        color: variables.$additional-color;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
