@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section>
    <div class="usage-time">
        <span>Использую товар</span>
        <button id="dropdown-button">
            <span id="dd-text">менее месяца</span>
            <svg id="dropdown-arrow" style="transform:rotate(180deg);" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.5755 4.98489L2.45048 19.6099C2.33369 19.7787 2.26531 19.9762 2.25272 20.181C2.24014 20.3859 2.28384 20.5903 2.37908 20.7721C2.47433 20.9539 2.6175 21.1062 2.79309 21.2125C2.96867 21.3187 3.16999 21.3749 3.37523 21.375L23.6252 21.375C23.8306 21.3751 24.032 21.3191 24.2078 21.2129C24.3835 21.1067 24.5269 20.9544 24.6222 20.7726C24.7176 20.5907 24.7614 20.3863 24.7489 20.1813C24.7363 19.9764 24.6679 19.7787 24.5511 19.6099L14.4261 4.98489C14.3221 4.83589 14.1837 4.71421 14.0226 4.63019C13.8615 4.54617 13.6825 4.50229 13.5008 4.50229C13.3191 4.50229 13.1401 4.54617 12.979 4.63019C12.8179 4.71421 12.6795 4.83589 12.5755 4.98489Z" />
            </svg>
        </button>
        <ul class="dropdown-list">
            <li class="s" data-usage="-month" data-selected="true">менее месяца</li>
            <li class="s" data-usage="-year">не более года</li>
            <li class="s" data-usage="+year">более года</li>
        </ul>
    </div>
    <div class="rating">
        <span>Ваша оценка</span>
        <div class="stars">

        </div>
    </div>
    <div class="inputs">
        <span>Поделитесь вашим опытом использования</span>
        <form>

        </form>
    </div>
</section>