@using NoSTORE.Models.DTO
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Избранное";
    ViewData["CSS"] = "favorite.css";
}
<section class="products">
    <div class="titles">
        <div>
            <span class="title"><span id="plural"></span> на сумму: <span id="sum"></span></span>
        </div>
        <div class="buttons">
            <button id="selectFavorite">Выделить всё</button>
            <button id="inCart">В корзину (всё)</button>
        </div>
        
    </div>
    <div class="list">
        @Html.Partial("_FavoritePartial", Model);
    </div>
    <script type="module" src="~/js-new/pages/favoriteIndex.js"></script>
</section>